/*------FUENTE DE LETRA------*/
@font-face {
    font-family: "Anton";
    src: url(../Fuentes/Anton/Anton-Regular.ttf);
    }
  @font-face {
    font-family:"Otomanopee" ;
    src: url(../Fuentes/Otomanopee_One/OtomanopeeOne-Regular.ttf);
  }
  @font-face {
    font-family: "Yomogi";
    src: url(../Fuentes/Yomogi/Yomogi-Regular.ttf);
  }
  @font-face {
    font-family: "AbrilFatface";
    src: url(Fuentes/Abril_Fatface/AbrilFatface-Regular.ttf);
  }
  @font-face {
    font-family:"FjallaOne" ;
    src: url(../Fuentes/Fjalla_One/FjallaOne-Regular.ttf);
  }
  @font-face {
    font-family:"Pacifico" ;
    src: url(../Fuentes/Pacifico/Pacifico-Regular.ttf);
  }