/*--------- GRANDE -----(MIN-WIDTH:720PX)(MAX-WIDTH:1200PX) -----*/
/*---MENU PRINCIPAL---*/
@media screen and (min-width: 720px) and (max-width: 1200px) {
  /*---SEGUNDA SECCION CARTA------*/
  .contenidoCarta {
    display: grid;
    padding: 0px;
    margin: 20px;
  }
  .sliderBarCarta{
    display: block;
    position: relative;
    li{
    display: block;
    position: relative;
    }
    a{
      display: block;
      position: absolute;
    }
  }
  .cartaProducto {
    display: grid;
    border: black solid 1px;
    padding: 4px;
    margin-top: 1em;
    border-radius: 20px;
    img {
      width: 180px;
    }
  }
}
